<%- include("partials/header"); -%>
<h1>Contact</h1>
<br>
<h3>Phone: (510)690-4741</h3>
<br>
<h3>Email: saalimomer@gmail.com</h3>
<br>
<h3>Github:<a href="https://github.com/SaalimOmer"> https://github.com/SaalimOmer</a></h3>
<%- include("partials/footer"); -%>